<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    <link rel="shortcut icon" href="/static/pics/favicon.ico" type="image/x-icon">
    <link rel=stylesheet type=text/css href="/static/css/style.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="wrapper">
        <div class="inner">
            <div id="header">
            </div>
            <div id="main">
                <div class="article">
                    <div class="illus">
                        <img id="gundam-00" src="/static/pics/Celestial_Being_Logo.png">
                    </div>
                    <h2>
                        Posts
                    </h2>
                    {{ content }}
                </div>
            </div>
            <div id="footer">
                <div class="copyright">
                    &copy; 2012 all rights reserved
                </div>
            </div>
        </div>
    </div>
</body>
</html>

